#text {
  font-size: 30px;
  margin-top: 150px;
  padding-top: 30px;
}

#author {
  font-size: 20px;
  margin-top: 10px;
}

.buttons {
  margin-top: 20px;
  padding-bottom: 30px;
}

#tweet-quote {
  margin-top: 15px;
  font-size: 30px;
  display: block;
}

$background-colors: (
  #f9d5e5,
  #eeac99,
  #e06377,
  #c83349,
  #5b9aa0,
  #d6d4e0,
  #b8a9c9,
  #622569
);

@for $i from 1 through length($background-colors) {
  .background-color-#{$i} {
    background-color: nth($background-colors, $i);
  }
}
