html,
body {
  height: 100%;
}

.container-fluid {
  height: 100%;
  position: relative;
}

#center-box {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin: 0 auto;
  transform: translateY(-50%);
}

#text {
  font-size: 30px;
}

#author {
  font-size: 20px;
  margin-top: 10px;
}

.buttons {
  margin-top: 20px;
  padding-bottom: 30px;
}

#tweet-quote {
  margin-top: 15px;
  font-size: 30px;
  display: block;
}

$background-colors: (
  #f9d5e5,
  #eeac99,
  #e06377,
  #c83349,
  #5b9aa0,
  #d6d4e0,
  #b8a9c9
);

@for $i from 1 through length($background-colors) {
  .background-color-#{$i} {
    background-color: nth($background-colors, $i);
  }
}
